@import url(./bg.css);
@import url(./aside.css);
@import url(./content.css);
@import url(./header.css);

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, ul, ol{
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

:root{
  --white: #FDFCF0;
  --black: #020202;
  --bg-component: #FDFCF008;
  --stroke: #333333;
}

body{
  font-family: "Outfit", sans-serif;
  height: 1vh;
  width: 100%;
  color: var(--white);
  width: 71rem;
  margin-inline: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body img{
  -webkit-user-drag: none;
  -webkit-user-drag: none;
}

main{
  display: flex;
  gap: 1rem;
  width: 100%;
}

#content{
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 768px){
  body{
    width: 90%;
    margin-inline: auto;
  }

  aside{
    width: 100%
  }

  #content{
    width: 100%;
    margin-bottom: 2rem;
  }

  main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #contact-ctas{
    justify-content: start;
    gap: 0.5rem;
  }

  #contact-ctas a{
    font-size: 0.875rem;
  }
  
}